@charset "UTF-8";
/* 

375 : X = 360 : Y;

360x / 375 = y; 

기존 값을 해상도로 나누는데
다른 해상도에 적용했던 값을
현재 해상도 비율에 맞추서 변경 하려고 하는데

*/
/* @font-face {
  font-family: 'RobotoMono';
  font-weight: 900;
  font-display: swap;
  src:local("SUIT Black"), 
			url("../fonts/SUIT-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 800;
  font-display: swap;
  src:local("SUIT ExtraBold"), 
			url("../fonts/SUIT-ExtraBold.woff2") format("woff2"),
			url("../fonts/SUIT-ExtraBold.ttf") format("truetype");
} */
@font-face {
  font-family: "RobotoMono";
  font-weight: 700;
  font-display: swap;
  src: local("RobotoMono-Bold"), url("../fonts/RobotoMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 600;
  font-display: swap;
  src: local("RobotoMono-SemiBold"), url("../fonts/RobotoMono-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 500;
  font-display: swap;
  src: local("RobotoMono Medium"), url("../fonts/RobotoMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 400;
  font-display: swap;
  src: local("RobotoMono Regular"), url("../fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 300;
  font-display: swap;
  src: local("RobotoMono Light"), url("../fonts/RobotoMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 200;
  font-display: swap;
  src: local("RobotoMono ExtraLight"), url("../fonts/RobotoMono-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 100;
  font-display: swap;
  src: local("RobotoMono Thin"), url("../fonts/RobotoMono-Thin.ttf") format("truetype");
}
* {
  font-family: "RobotoMono";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: #cef1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border_top {
  width: 100%;
  height: 40px;
  background: #E9BDDE;
  border-radius: 8px 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.border_left {
  width: 40px;
  height: 100%;
  background: #E9BDDE;
  border-radius: 0 0 0 8px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.loading__pan {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E9BDDE;
  position: absolute;
  top: 0;
}
.loading__left {
  left: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 4px;
  -webkit-animation: loading__left 1s ease-in-out forwards;
          animation: loading__left 1s ease-in-out forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.loading__right {
  right: 0;
  padding-left: 4px;
  -webkit-animation: loading__right 1s ease-in-out forwards;
          animation: loading__right 1s ease-in-out forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.loading__bar {
  position: absolute;
  width: 4px;
  height: 100%;
  background: #3d3d3d;
  -webkit-animation: loading__bar 4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
          animation: loading__bar 4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
.loading__bar--left {
  right: 0;
}
.loading__bar--right {
  left: 0;
}

@-webkit-keyframes loading__bar {
  0% {
    top: -100%;
  }
  20% {
    top: -60%;
  }
  40% {
    top: -55%;
  }
  60% {
    top: -50%;
  }
  80% {
    top: -45%;
  }
  100% {
    top: 0;
  }
}

@keyframes loading__bar {
  0% {
    top: -100%;
  }
  20% {
    top: -60%;
  }
  40% {
    top: -55%;
  }
  60% {
    top: -50%;
  }
  80% {
    top: -45%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes loading__left {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes loading__left {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes loading__right {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@keyframes loading__right {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
.my-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 1280px;
  height: 800px;
  background: #222;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-animation: my-code-in 1s ease;
          animation: my-code-in 1s ease;
}

@-webkit-keyframes my-code-in {
  0% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes my-code-in {
  0% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
.my-code--ico {
  font-size: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-code--title {
  font-size: 18px;
  font-weight: 500;
  color: #222;
}

.my-code--close {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: transparent;
  width: 30px;
  height: 30px;
  background: url(../images/icons/ico_close_btn.svg) no-repeat;
  background-size: 100% 100%;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigator {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  height: 100%;
  background: #3d3d3d;
  border-radius: 0 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigator__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px;
}
.navigator__menu--openbtn {
  line-height: 26px;
}
.navigator__menu--item {
  line-height: 26px;
}
.navigator__menu--depthbar {
  font-size: 14px;
  font-weight: 400;
  color: #afafaf;
}
.navigator__menu--ico {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-left: 26px;
  position: relative;
}
.navigator__menu--ico::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.navigator__menu--ico--cmnopen::before {
  background: url(../images/icons/folder-favicon-open.svg) no-repeat;
  background-size: 100% 100%;
}
.navigator__menu--ico--jsx::before {
  background: url(../images/icons/react_ts.svg) no-repeat;
  background-size: 100% 100%;
}
.navigator__menu--ico--md::before {
  background: url(../images/icons/markdown.svg) no-repeat;
  background-size: 100% 100%;
}
.navigator__menu--ico--htmlopen::before {
  background: url(../images/icons/folder-views-open.svg) no-repeat;
  background-size: 100% 100%;
}
.navigator__menu--ico--html::before {
  background: url(../images/icons/html.svg) no-repeat;
  background-size: 100% 100%;
}
.navigator__menu--ico--json::before {
  background: url(../images/icons/json.svg) no-repeat;
  background-size: 100% 100%;
}
.navigator__menu--txt {
  font-size: 14px;
  font-weight: 400;
  color: #afafaf;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: calc(100% - 300px);
}
.content:has(.wavy) {
  position: relative;
}
.content__tab-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  border-bottom: 1px solid #da9862;
}
.content__tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}
.content__tab-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__tab-item.on .content__tab-btn {
  background: rgba(218, 152, 98, 0.7);
}
.content__tab-item.on .content__tab-btn::after {
  background: #3fa178;
}
.content__tab-btn {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #3d3d3d;
  padding-left: 20px;
  position: relative;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.content__tab-btn::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #b92238;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.content__tab-btn span {
  font-size: 14px;
  font-weight: 400;
  color: rgba(229, 229, 229, 0.7);
}
.content__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  opacity: 0;
}
.content__body.on {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.content * {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.step01 {
  margin-left: 10px;
}

.step02 {
  margin-left: 20px;
}

.tag {
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tag::before {
  font-size: 14px;
  color: white;
}
.tag.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.tag__pasis-lt::before {
  content: "<";
}
.tag__pasis-gt::before {
  content: ">";
}
.tag__name {
  font-size: 14px;
  font-weight: 400;
  color: #da9862;
}
.tag__class {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-left: 6px;
}
.tag__class--val {
  font-size: 14px;
  font-weight: 400;
  color: #e7cf1c;
}

.jsx__comment {
  font-size: 14px;
  font-weight: 400;
  color: #616161;
}
.jsx__cmn {
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
}
.jsx__fnc {
  font-size: 14px;
  font-weight: 400;
  color: #e7cf1c;
}
.jsx__bracket {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.jsx__bracket__sml--lt::before {
  content: "(";
  font-size: 14px;
  font-weight: 400;
  color: #e7cf1c;
}
.jsx__bracket__sml--gt::before {
  content: ")";
  font-size: 14px;
  font-weight: 400;
  color: #e7cf1c;
}
.jsx__bracket__med--lt::before {
  content: "{";
  font-size: 14px;
  font-weight: 400;
  color: #e7cf1c;
}
.jsx__bracket__med--gt::before {
  content: "}";
  font-size: 14px;
  font-weight: 400;
  color: #e7cf1c;
}

.md__title {
  color: #e45649;
}
.md__text--bold {
  font-weight: 700;
}

.contact__bracket__med--lt::before {
  content: "{";
  font-size: 14px;
  font-weight: 400;
  color: #E9BDDE;
}
.contact__bracket__med--gt::before {
  content: "}";
  font-size: 14px;
  font-weight: 400;
  color: #E9BDDE;
}
.contact__item {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.contact__item-key {
  color: #c9c9c9;
}
.contact__item-value {
  color: #e7cf1c;
}

.workcard__title {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-bottom: 40px;
}
.workcard__swiper {
  width: 100%;
  overflow: hidden;
}
.workcard__item {
  width: 700px;
}
.workcard__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.workcard__desc {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  background: white;
  margin-bottom: 5px;
}
.workcard__desc--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.workcard__desc--title {
  font-size: 22px;
  font-weight: 500;
  color: #222;
}
.workcard__desc--tags {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-left: 20px;
}
.workcard__desc--dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.workcard__desc--dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c9c9c9;
  margin-right: 4px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.workcard__img {
  height: 550px;
  background: white;
  border-radius: 8px;
  position: relative;
}
.workcard__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.workcard__img--title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 700;
  color: #222;
}
.workcard .swiper-slide-active .workcard__desc--dot:first-child {
  background: #da9862;
}
.workcard .swiper-slide-active .workcard__desc--dot:nth-child(2) {
  background: #3fa178;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.workcard .swiper-slide-active .workcard__desc--dot:last-child {
  background: red;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.wavy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wavy span {
  font-size: 24px;
  font-weight: 700;
  color: white;
  -webkit-animation: wavy 2s infinite ease-in-out;
          animation: wavy 2s infinite ease-in-out;
  display: inline-block;
}
@-webkit-keyframes wavy {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes wavy {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}