$view_full:1920;
$view_1400:1400;
$view_1280:1280;
$view_1024:1024;
$view_768:768;
$view_mo:375;

$c_main:#4747ff;
$c_sub:#c1cfff;
$g_point:#6af33b;
$g_txt:#00d42f;
$c_222:#222;
$c_555:#555;
$c_777:#777;
$c_999:#999;
$c_aaa:#aaa;
$c_ccc:#ccc;
$c_e6:#e6e6e6;
$c_f5:#f5f5f5;
$c_f9:#f9f9f9;
$c_5b:#5b608d;
$c_79:#7982a0;
$c_b9:#b9c0d9;
$c_f5f7:#f5f7ff;
$c_chk:#04ce00;
$c_warn:#ff0000;
$c_cd:#CDD2D8;
