@import "_variable";
@import "_function";

/* @font-face {
  font-family: 'RobotoMono';
  font-weight: 900;
  font-display: swap;
  src:local("SUIT Black"), 
			url("../fonts/SUIT-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 800;
  font-display: swap;
  src:local("SUIT ExtraBold"), 
			url("../fonts/SUIT-ExtraBold.woff2") format("woff2"),
			url("../fonts/SUIT-ExtraBold.ttf") format("truetype");
} */

@font-face {
  font-family: 'RobotoMono';
  font-weight: 700;
  font-display: swap;
  src:local("RobotoMono-Bold"), 
			url("../fonts/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 600;
  font-display: swap;
  src:local("RobotoMono-SemiBold"), 
			url("../fonts/RobotoMono-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 500;
  font-display: swap;
  src:local("RobotoMono Medium"), 
			url("../fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  font-display: swap;
  src:local("RobotoMono Regular"), 
			url("../fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 300;
  font-display: swap;
  src:local("RobotoMono Light"), 
			url("../fonts/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 200;
  font-display: swap;
  src:local("RobotoMono ExtraLight"), 
			url("../fonts/RobotoMono-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 100;
  font-display: swap;
  src:local("RobotoMono Thin"), 
			url("../fonts/RobotoMono-Thin.ttf") format("truetype");
}

* {
	font-family:'RobotoMono'; box-sizing:border-box;
}

body {
	height:100vh; background:#cef1f1; @include flx(); 
}

.border_top {
	@include wh(100%, 40px); background:#E9BDDE; border-radius:8px 8px 0 0;
	display:flex; align-items:center; position:relative;
}

.border_left {
	@include wh(40px, 100%); background:#E9BDDE; border-radius:0 0 0 8px;
}

.my-code {
	display:flex; flex-direction:column; height:100vh; @include wh(1280px, 800px); background:#222; border-radius:8px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	animation:my-code-in 1s ease;
}

@keyframes my-code-in {
	0% {
		transform:translate(10px, 10px); opacity:0;
	}

	100% {
		transform:translate(0, 0); opacity:1;
	}
}

.my-code--ico {
	font-size:18px; flex:0 0 40px; @include flx($d:inline-flex);
}

.my-code--title {
	@include fs(18px, 500, #222);
}

.my-code--close {
	@include pos($type:absolute, $r:10px, $t:50%, $trans:translateY(-50%)); user-select:none; color:transparent;
	@include wh(30px, 30px); @include bg(url(../images/icons/ico_close_btn.svg));
}

.container {
	flex:1; display:flex;
}

.navigator {
	flex:0 0 300px; height:100%; background:#3d3d3d; border-radius:0 0 0 8px; display:flex;

	&__menu {
		flex:1; padding:16px;

		&--openbtn {
			line-height:26px;
		}

		&--item {
			line-height:26px;
		}

		&--depthbar{
			@include fs(14px, 400, #afafaf);
		}

		&--ico {
			@include fs(14px, 400, white); padding-left:26px; position:relative;

			&::before {
				content:''; @include pos($type:absolute, $l:0, $t:50%, $trans:translateY(-50%)); @include wh(20px, 20px);
			}

			&--cmnopen {
				&::before {
					@include bg(url(../images/icons/folder-favicon-open.svg));
				}
			}

			&--jsx {
				&::before {
					@include bg(url(../images/icons/react_ts.svg));
				}
			}

			&--md {
				&::before {
					@include bg(url(../images/icons/markdown.svg));
				}
			}

			&--htmlopen {
				&::before {
					@include bg(url(../images/icons/folder-views-open.svg));
				}
			}

			&--html {
				&::before {
					@include bg(url(../images/icons/html.svg));
				}
			}

			&--json {
				&::before {
					@include bg(url(../images/icons/json.svg));
				}
			}
		}

		&--txt {
			@include fs(14px, 400, #afafaf);
		}
	}
}

.content {
	display:flex; flex-direction:column; flex:1; width:calc(100% - 300px);

	&:has(.wavy) {
		position:relative;
	}

	&__tab-wrap {
		flex:0 0 40px; border-bottom:1px solid #da9862;
	}

	&__tab-list {
		@include flx($j:flex-start); height:100%;
	}

	&__tab-item {
		flex:1 1 100px; height:100%; @include flx($d:inline-flex);

		&.on {
			.content__tab-btn {
				background:rgba(218,152,98,0.7);

				&::after {
					background:#3fa178;
				}
			}
		}
	}

	&__tab-btn {
		@include wh(100%, 100%); @include flx($j:flex-start); background:#3d3d3d; padding-left:20px; position:relative; transition:background 0.5s;

		&::after {
			content:''; @include wh(8px, 8px); border-radius:50%; background:#b92238; @include pos($type:absolute, $r:20px, $t:50%, $trans:translateY(-50%)); transition:background 0.5s;
		}

		span {
			@include fs(14px, 400, rgba(229,229,229,0.7));
		}
	}

	&__body {
		flex:1; padding:20px; opacity:0;

		&.on {
			opacity:1; transition:opacity 0.5s;
		}
	}

	* {
		line-height:20px; @include fs(14px, 400, white);
	}
}

.step01 {
	margin-left:10px;
}

.step02 {
	margin-left:20px;
}

.tag {
	font-size:14px; color:white; display:flex;

	&::before {
		font-size:14px; color:white;
	}

	&.inline {
		display:inline-flex;
	}

	&__pasis-lt {
		&::before {
			content:'<';
		}
	}

	&__pasis-gt {
		&::before {
			content:'>';
		}
	}

	&__name {
		@include fs(14px, 400, #da9862);
	}

	&__class {
		@include fs(14px, 400, white); margin-left:6px;

		&--val {
			@include fs(14px, 400, #e7cf1c);
		}
	}
}

.jsx {
	&__comment {
		@include fs(14px, 400, #616161);
	}

	&__cmn {
		@include fs(14px, 400, #a5a5a5);
	}

	&__fnc {
		@include fs(14px, 400, #e7cf1c);
	}

	&__bracket {
		@include fs(14px, 400, white);

		&__sml--lt {
			&::before {
				content:'('; @include fs(14px, 400, #e7cf1c);
			}
		}

		&__sml--gt {
			&::before {
				content:')'; @include fs(14px, 400, #e7cf1c);
			}
		}

		&__med--lt {
			&::before {
				content:'{'; @include fs(14px, 400, #e7cf1c);
			}
		}

		&__med--gt {
			&::before {
				content:'}'; @include fs(14px, 400, #e7cf1c);
			}
		}
	}
}

.md {
	&__title {
		color:#e45649;
	}

	&__text {
		&--bold {
			font-weight:700;
		}
	}
}

.contact {
	&__bracket {
		&__med--lt {
			&::before {
				content:'{'; @include fs(14px, 400, #E9BDDE);
			}
		}

		&__med--gt {
			&::before {
				content:'}'; @include fs(14px, 400, #E9BDDE);
			}
		}
	}

	&__item {
		@include fs(14px, 400, white);

		&-key {
			color:#c9c9c9;
		}

		&-value {
			color:#e7cf1c;
		}
	}
}

.workcard {
	&__title {
		@include fs(18px, 700, white); margin-bottom:40px;
	}

	&__swiper {
		width:100%; overflow:hidden;
	}

	&__item {
		width:700px; 
	}

	&__link {
		display:flex; flex-direction:column;
	}

	&__desc {
		width:100%; height:60px; border-radius:8px; @include flx($j:space-between); padding:0 20px; background:white; margin-bottom:5px;

		&--left {
			display:flex; align-items:baseline;
		}

		&--title {
			@include fs(22px, 500, $c_222);
		}

		&--tags {
			@include fs(14px, 400, $c_555); margin-left:20px;
		}

		&--dots {
			display:flex;
		}

		&--dot {
			@include wh(8px, 8px); border-radius:50%; background:#c9c9c9; margin-right:4px; transition:background 1s;
		}
	}

	&__img {
		height:550px; background:white; border-radius:8px; position:relative;

		img {
			@include img_full(); border-radius:8px;
		}

		&--title {
			@include pos($type:absolute, $l:50%, $t:50%, $trans:translate(-50%, -50%)); @include fs(24px, 700, $c_222);
		}
	}

	.swiper-slide-active {
		.workcard__desc {
			&--dot {
				&:first-child {
					background:#da9862;
				}
				&:nth-child(2) {
					background:#3fa178; transition-delay:0.3s;
				}
				&:last-child {
					background: red; transition-delay:0.6s;
				}
			}
		}
	}
}

.wavy {
	@include pos($type:absolute, $l:50%, $t:50%, $trans:translate(-50%, -50%));

	span {
		@include fs(24px, 700, white); animation:wavy 2s infinite ease-in-out; display:inline-block;
	}

	@keyframes wavy {
		0% {
			transform:translateY(0);
		}
		50% {
			transform:translateY(20px);
		}
		100% {
			transform:translateY(0);
		}
	}
}